* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Playpen Sans";
}

#background-img {
    background-image: url("assets/images/trafficjamhome.jpg");
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    align-items: center;
    text-align: justify;
    z-index: -1;
    bottom: 0;
}
h1 {
    text-align: left;
    color: olive;
    padding-top: 20px;
    padding-left: 30px;
    font-family: "Permanent Marker";
    font-size: 40px;
    text-shadow: 2px 2px white;
}

h2 {
    text-align: center;
    padding-top: 30px;
    color: olive;
    font-family: "Permanent Marker";
    font-size: 25px;
    margin-left: 100px;
    margin-right: 100px;
    text-shadow: 2px 2px white;
}

.btn-div {
    text-align: center;
}

.button {
    font-family: "Playpen Sans";
    font-weight: 400;
}

#jamBtn {
    margin-top: 10%;
}
 
.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 30px;
    margin: 0 auto;
    max-width: 800px;
    padding-top: 30px;
    opacity: 30%;
}

.space {
    height: 20px;
}

.form-control {
    margin: 10px 0 10px 5px;
}

#getRouteBtn {
    margin: 5px 0 0 5px;
}

#events-list {
    text-align: center;
}

#map-display {
    height: 500px;

}

#map {
    flex-basis: 0;
}

h1 {
    color: olive;
    padding-top: 20px;
    font-family: "Permanent Marker";
    font-size: 60px;
    text-shadow: 2px 2px white;
}
.tile {
    opacity: 95%;
}.event-item button {
    margin-right: 10px;
}

#events-container,
#events-result-container {
    font-weight: 300;
    font-size: large;
}